<html>
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <link rel="stylesheet" type="text/css" href="../jquery-easyui-1.7.0/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../jquery-easyui-1.7.0/themes/icon.css">
    <script type="text/javascript" src="../jquery-easyui-1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="../jquery-easyui-1.7.0/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../jquery-easyui-1.7.0/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>
<select class="easyui-combobox" panelHeight="auto" style="width:200px" data-options="valueField:'id',
textField:'text',onChange:uie_dgd_search" id="db">
</select>

<select class="easyui-textbox" panelHeight="auto" style="width:200px" id="tbb"  >
</select>
<a href="#" class="easyui-linkbutton" onclick="uie_dgd_search();">查询</a>
<a href="#" class="easyui-linkbutton" onclick="merge();">合并</a>


<table id="dataTable"  style="width:98%;height:98%">
</table>
<div id="weektb">

</body>
<script>
    $(document).ready(function() {
        //查询所有数据源
        getAllDb();
        //初始化列表
        page_init();
    });

    function merge() {
        var dbName =$('#db').combobox("getValue");
        var selRows = $('#dataTable').datagrid('getChecked');
        if (selRows.length ==0){
            alert("请选择合并的表名称");
            return;
        }
        load();
        var obj ={};
        obj.tbs =selRows;
        $.ajax({
            url:'../mergeData',
            type: 'POST',
            dataType:'json',
            data:{
                "dbName":$('#db').combobox('getValue'),
                "tbCollection":JSON.stringify(obj),
            },
            success:function(data){
                disLoad();
                if(data.err){
                    alert(data.content) ;
                    return;
                }
                var list = data.list;

                var html ='';
                for(var i=0;i<list.length;i++){
                    html +='序号'+i+'： '+list[i].TABLE_NAME+'成功同步'+list[i].INSERT_COUNT+'条数据   ';
                }
                alert(html);

            },
            error:function(data){

            }
        });

    }

    var dbs ;

    function getAllDb() {
        $.ajax({
            url:'../getAllByDB',
            type: 'POST',
            dataType:'json',

            success:function(data){
                if(data.err){
                    alert(data.content) ;
                    return;
                }
                var list = data.list;
                dbs =list;
                var masterDb;
                $('#db').combobox('loadData', list);
                for (var i = 0; i < list.length; i++) {
                    if(list[i].IS_MASTER ==1 ){
                        $('#db').combobox('select',list[i].id);
                        masterDb = list[i].id;
                        $('#me').attr('disabled',"true");
                    };
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                // 状态码
                console.log(XMLHttpRequest.status);
                // 状态
                console.log(XMLHttpRequest.readyState);
                // 错误信息
                console.log(textStatus);
                alert(textStatus);
            }
        });
    };

    function uie_dgd_search() {

        var dbName =$('#db').combobox("getValue");
        var tbName = $('#tbb').textbox("getValue");

        var masterDb;

        for (var i=0; i<dbs.length;i++){
            if (dbs[i].IS_MASTER == 1 ){
                masterDb = dbs[i].id;
            }
        }
        if (dbName == masterDb){
            $('#me').attr('disabled',"true");
        }else  $('#me').removeAttr("disabled");


        $('#dataTable').datagrid('reload', {
            'dbName': dbName,
            'tbName': tbName,
        });
        $('#dataTable').datagrid("clearSelections"); //清空选中项
    }

    function page_init() {

        $("#dataTable").datagrid({
            url: "../getTableByDB", //actionName
            queryParams:{page:1,rows:20},//查询参数
            loadMsg:"正在加载数据...",
            rownumbers:true,//查询结果在表格中显示行号
            fitColumns:true,//列的宽度填满表格，防止下方出现滚动条。
            page:1,   //初始页码，得在这设置才效果，pagination设置没效果。
            pagination: true,//分页控件
            pageSize:20,
            cache: false,
            pageList:[20,50,100,200,500],
            pagePosition:'bottom',
            singleSelect  :false,
            remoteSort:true,
            border : false,
            columns:[[
                { field:'ck',checkbox:true },
                {field:'TABLE_NAME',title:'表名',width:350},
                {field:'NUM_ROWS',title:'行数',width:300,sortable:true},
                {field:'NUM_COLUMNS',title:'列数',width:310,sortable:true}

            ]]
        });



    }

    function find(pageNumber, pageSize)
    {
        $("#dataTable").datagrid('getPager').pagination({pageSize : pageSize, pageNumber : pageNumber});//重置
        $("#dataTable").datagrid("loading"); //加屏蔽
        $.ajax({
            type : "POST",
            dataType : "json",
            url : "../getTableByDB",
            data : {
                page : pageNumber,
                rows : pageSize
            },
            success : function(data) {
                $("#dataTable").datagrid('loadData',data);
                $("#dataTable").datagrid("loaded"); //移除屏蔽
            },
            error : function(err) {
                $.messager.alert('操作提示', '获取信息失败...请联系管理员!', 'error');
                $("#dataTable").datagrid("loaded"); //移除屏蔽
            }
        });

    }

    //弹出加载层
    function load() {
        $("<div class=\"datagrid-mask\"></div>").css({
            display: "block",
            width: "100%",
            height: $(window).height()
        }).appendTo("body");
        $("<div class=\"datagrid-mask-msg\"></div>").html("加载中，请稍候。。。").appendTo("body").css({
            display: "block",
            left: ($(document.body).outerWidth(true) - 190) / 2,
            top: ($(window).height() - 45) / 2,
            height: '40px'
        });
    }
    //取消加载层
    function disLoad() {
        $(".datagrid-mask").remove();
        $(".datagrid-mask-msg").remove();
    }

</script>
</html>
